.bg-1 {
	background: url("../images/bg/hrv-worker-bg.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.bg-2 {
	background: url("../images/bg/hrv-background-photo.jpg");
	background-size: cover;
}
