<section class="section process">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="process-block pl-4">
					<span class="text-uppercase text-sm letter-spacing">Benefits of a Balanced HRV</span>
					<h2 class="mb-4 mt-3">Why is HRV balancing important?</h2>
					<p class="mb-4">HRV balancing ensures an equal balance between air intake and exhaust, crucial for proper ventilation and system efficiency. It helps prevent pressure imbalances in a home, which can lead to issues like drafts, energy waste, and the introduction of outside contaminants.</p>
				</div>
			</div>

			<div class="col-lg-7 col-xs-12 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mb-4 mb-lg-0">
							<i class="ti-panel"></i>
							<h5>Pressure Balance</h5>
							<p>Balanced intake and exhaust air prevent positive or negative pressure in the home, which can cause air to leakage.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4 mb-4 mb-lg-0">
							<i class="ti-light-bulb"></i>
							<h5>Energy Efficiency</h5>
							<p>A balanced HRV ensures the system is working optimally, preventing energy waste from excessive intake or exhaust.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center">
							<i class="ti-cloud"></i>
							<h5>Indoor Air Quality</h5>
							<p>Balanced airflow helps prevent the intrusion of outside pollutants and radon gas, which can negatively impact indoor air quality.</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4">
							<i class="ti-shine"></i>
							<h5>Defrosting</h5>
							<p>A balanced HRV can properly handle the defrost cycle, which is critical for performance, especially in cold climates.</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>