<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-content bg-white p-5 rounded">
					<h3 class="mb-4">Proper HRV balancing is critical for<span class="text-color-primary"> clean air</span> </h3>
					<p class="mb-30">Balanced airflow helps maintain a comfortable indoor temperature and makes your home healthier.</p>
					
					<!--<a href="project.html" class="btn btn-main">Portfolio<i class="fa fa-angle-right ml-2"></i></a>-->
				</div>
			</div>
		</div>
	</div>
</section>