<!-- Slider Start -->
<section class="banner d-flex align-items-center">
	<div class="banner-img-part"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-md-12 col-xl-8">
				<div class="block">
					<span class="text-uppercase text-sm letter-spacing ">Your Ottawa area expert</span>
					<h1 class="mb-3 mt-3">HRV Balancing Made Easy</h1>
					<p class="mb-5">Serving the Ottawa region, I'm a HRAI certified professional ready to help with your project.</p>

					<a href="contact.html" class="btn btn-main">Submit the Contact Form<i class="fa fa-angle-right ml-2"></i></a>

				</div>
			</div>
		</div>
	</div>
</section>